spring:
  ssl:
    bundle:
      pem:
        grpc-server:
          keystore:
            certificate: classpath:server-cert.pem
            private-key: classpath:server-key.pem
  docker:
    compose:
      enabled: true
      file: ./docker/docker-compose.yml
      profiles:
        active:
          - "observability"

server:
  port: 8081

logging:
  level:
    com:
      example: debug
