spring:
  application:
    name: grpc-application-server
  threads:
    virtual:
      enabled: true
  ssl:
    bundle:
      pem:
        grpc-server:
          keystore:
            certificate: ${GRPC_SECURITY_CERT_CHAIN}
            private-key: ${GRPC_SECURITY_PRIVATE_KEY}
  grpc:
    server:
      port: 6565
      shutdown-grace-period: 30
      ssl:
        bundle: grpc-server
  mvc:
    format:
      date: iso
  web:
    resources:
      add-mappings: false
  docker:
    compose:
      enabled: false

server:
  shutdown: graceful
  compression:
    enabled: true

management:
  endpoints:
    access:
      default: none
    web:
      exposure:
        include:
          - "health"
          - "metrics"
          - "prometheus"
  endpoint:
    health:
      access: read_only
      probes:
        enabled: true
    metrics:
      access: read_only
    prometheus:
      access: read_only
  metrics:
    tags:
      application: ${spring.application.name}
  observations:
    key-values:
      application: ${spring.application.name}
  tracing:
    sampling:
      probability: 1.0
