spring:
  ssl:
    bundle:
      pem:
        grpc-server:
          keystore:
            certificate: classpath:server-cert.pem
            private-key: classpath:server-key.pem
  grpc:
    server:
      ssl:
        # 自己証明書を許可
        secure: false
  docker:
    compose:
      enabled: true
      file: ./docker/docker-compose.yml
      profiles:
        active:
          - "observability"

server:
  port: 8081

management:
  otlp:
    metrics:
      export:
        enabled: false

logging:
  level:
    com:
      example: debug
