spring:
  docker:
    compose:
      enabled: true
      file: ./docker/docker-compose.yml
      profiles:
        active:
          - "observability"

server:
  port: 8082

management:
  otlp:
    metrics:
      export:
        enabled: false

logging:
  level:
    com:
      example: debug

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
