management:
  otlp:
    metrics:
      export:
        enabled: false

logging:
  level:
    com:
      example: debug

external:
  gateway-server:
    schema: https
    domain: localhost
    port: 8080
